.input_stu{
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 40px;
  border: 1px solid #414141;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}

.stu-div{
    display:block;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}
.stu-div-tag{
    display:block;
    margin-bottom: 25px;
    margin-left:25px;
    font-size: 25px;
    line-height: 1.5;
    color: #666666;
}

.stu-div-submit{
  width:max-content;
  background-color: rgb(0, 123, 255);
  height: 40px;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  color: aliceblue;
}

.MSSV_tieude {
  /* Kiểu dáng cho toàn bộ phần form-group */
  height: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #494848;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.MSSV_style{
  font-size: 15px;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  

  
}


.HO_TEN-style{
  font-size: 20px;
  color: #b5e662;
  display: flex;
  justify-content: center;

}
.admin-name-style{
  font-size: 25px;
  color: #b5e662;
  display: flex;
  justify-content: center;


}

.note {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 10px;
}





.form-student  {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.student-form {
  display: flex;
  flex-direction: column;
}



.form-tieude-student {
  /* Kiểu dáng cho toàn bộ phần form-group */
  background-color: #f5f5f5;
  padding: 5px;

  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.student-registration {
  /* Kiểu dáng cho phần teacher-registration */
  margin: 0px; /* Khoảng cách từ phần tử trước */
}

.student-registration h2 {
  /* Kiểu dáng cho tiêu đề "Teacher Registration Form" */
  font-size: 24px;
  color: #007bff;
  margin: 0;
}

.student-registration p {
  /* Kiểu dáng cho dòng "Please confirm your information" */
  font-size: 16px;
  color: #333;
  margin: 0;
}

.form-group-student{
  margin-top:10px;
}

.form-group label {
  font-weight: bold;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.btn-create-student {
  width:120px;
  background-color: rgb(0, 123, 255);
  height: 50px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  color: aliceblue;
  margin-top: 10px;
  border: 1px solid #414141;
}

.btn-create-student:hover {
  background-color: #0056b3;
}

.logout-button button {
  padding: 10px 20px; /* Tùy chỉnh kích thước nút */
  background-color: rgb(197, 224, 129); /* Màu nền nút */
  color: #ffffff; /* Màu chữ */
  border: 1px solid #333 ; /* Bỏ viền nút */
  cursor: pointer; /* Hiển thị con trỏ tay khi trỏ vào nút */
  border-radius: 10px;
}

.logout-button {
  position: fixed;   /* Đặt vị trí cố định trên màn hình */
  right: 20px;        /* Đặt khoảng cách từ lề trái */
  top: 20px;         /* Đặt khoảng cách từ đỉnh */
}