.import-teacher-form{
    display: block;
    margin:90px 200px 0 200px;
    padding: 4px;
    border:2px solid white;
    box-shadow: 2px 2px 2px 2px rgb(218, 216, 216);
    z-index: 2;
}

.input_import{
 font-size: 15px;
  line-height: 1.0;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 40px;
  border: 1px solid #414141;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  }
  
.import-div{
    display:block;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    width: 100%;
  }
.input_import-submit{
    display: inline-block;
    padding: 4px;
  }
.input_import-file{
    display: block;
  }
.import-div-submit{
  padding-top:20px;
  float:inline-start;
  align-content: center;
  align-items:center;
  display: flex;
  margin-right: 200px;

}
.upload{
  margin-left:8px;
  text-align: center;
  color: white;
  border: 1px solid;
  background-color: green;
  line-height: 16px;
  font-size: large;
  border-radius: 4px;
}
.cancel{
  margin-left:8px;
  text-align: center;
  color: white;
  border: 1px solid;
  background-color: rgb(20, 38, 236);
  line-height: 16px;
  font-size: large;
  border-radius: 4px;
}


.form-teacher {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(74, 167, 190);
  border: 2px solid #878899;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}

.teacher-form {
  display: flex;
  flex-direction: column;
}

.form-group-teacher {
  margin:7px;
}

label {
  font-weight: bold;
}

.input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.select
{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;



}
.option
{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;



}


.btn-create-teacher {
  width:80px;
   background-color: rgb(172, 157, 25);
  height: 40px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  color: aliceblue;
  align-items: center;
  margin: 5px;
  flex-direction: column;
  border: 1px solid #414141;
 

}

.btn-create-teacher:hover {
  background-color: rgb(160, 160, 109)
}


.form-tieude-teacher {
  /* Kiểu dáng cho toàn bộ phần form-group */
  background-color: rgb(152, 198, 209);
  padding: 5px;
  

  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.teacher-registration {
  /* Kiểu dáng cho phần teacher-registration */
  margin: 0px; /* Khoảng cách từ phần tử trước */
}

.teacher-registration h2 {
  /* Kiểu dáng cho tiêu đề "Teacher Registration Form" */
  font-size: 20px;
  color: #1c1e20;
  margin: 0;
}

.teacher-registration p {
  /* Kiểu dáng cho dòng "Please confirm your information" */
  font-size: 12px;
  color: #333;
  margin: 0;
}



.import-teacher-form{
  display: block;
  margin:90px 200px 0 200px;
  padding: 4px;
  border:2px solid white;
  box-shadow: 2px 2px 2px 2px rgb(218, 216, 216);
  z-index: 2;
}

.input_import{
  font-size: 15px;
  line-height: 1;
  color: #666666;
  display: block; 
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  padding: 0 30px 0 30px;
  border-radius: 10px;
}

.import-div{
  display:block;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  width: 100%;
}
.input_import-submit{
  display: inline-block;
  padding: 4px;
}
.input_import-file{
  display: block;
}
.import-div-submit{
padding-top:16px;
float:right;
}
.upload{
margin-left:20px;
text-align: center;
color: white;
border: 1px solid;
background-color: green;
line-height: 16px;
font-size: large;
border-radius: 4px;
}
.cancel{
margin-left:20px;
text-align: center;
color: white;
border: 1px solid;
background-color: rgb(20, 38, 236);
line-height: 16px;
font-size: large;
border-radius: 4px;
}



.import1-form-teacher {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 500;
 
}






.import-teacher-new {
  max-width: 700px;
  margin: 100px auto;
  padding: 50px;
  background-color: rgb(74, 167, 190);
  border: 2px solid #878899;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 700px;
 align-content: center;
 align-items:center;
 
}




.import-tieude-teacher-new {
  /* Kiểu dáng cho toàn bộ phần form-group */


  background-color: rgb(152, 198, 209);
  padding: 15px;
 

  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.import-form-group-teacher {
  margin:30px;
}


.import-btn-create-teacher-new-1 {
  width:80px;
  background-color: rgb(172, 157, 25);
  height: 40px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  color: aliceblue;
  align-items: center;
  margin: 5px;
  flex-direction: column;
  border: 1px solid #414141;
 

}

.import-btn-create-teacher-new-2 {
  width:80px;
  background-color: rgb(68, 68, 68);
  height: 40px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  color: aliceblue;
  align-items: center;
  margin: 5px;
  flex-direction: column;
  border: 1px solid #414141;
 

}

.import-btn-create-teacher-new-1:hover {
  background-color: rgb(160, 160, 109)
}
.import-btn-create-teacher-new-2:hover {
  background-color: rgb(163, 157, 157)
}